* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    }
    
    .grid {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-gap: 1rem;
    grid-template-rows: 250px 250px;
    margin : 10px;
    }
    
    
    .grid-item {
    
    background:  black;
    text-align: center;
    padding: 1rem;
    
    
    
    }