
.container {

width: 600px;
height: 500px;
background: white;
display: grid;
grid-template-columns: 30px 80px 30px ;
grid-template-rows: 45px 150px 150px ;
column-gap: 10px;
row-gap: 10px;
margin: 12px;
}

.box1 {
    background-color: black;
    border: 1px solid black;
grid-column-start: 1;
grid-column-end: 4;

}
.box2 {
background: black;
border: 1px solid black
}
.box3 {

    background: black;
    border: 1px solid black
}

.box4{

    background: black;
    border: 1px solid black

}