.container {

width: 600px;
height: 800px;
display: grid;
background: white;
grid-template-columns: 120px 120px;
grid-template-rows: 50px 140px 50px;
column-gap: 15px;
row-gap: 15px;
}

.box1 {
background: black;
border: 1px solid black;
grid-column-start: 1;
grid-column-end: 3;
}

.box2 {
    background: black;
    border: 1px solid black;
    


}

.box3 {
    background: black;
    border: 1px solid black;
    


}

.box4{
    background: black;
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 3;


}